@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    font-family: 'Poppins';
}

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

header {
    background-color: #f7f7f7;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .header-container {
    display: flex;
    align-items: center;
  }
  
  .blackHeart {
    width: 30px;
    height: 20px;
    margin-right: 10px;
  }
  
  .main-nav {
    margin-left: 20px;
  }
  
  .main-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  
  .main-nav li {
    margin-right: 20px;
  }
  
  .main-nav a {
    text-decoration: none;
    color: #333;
  }
  
  .search-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .npm-logo {
    width: 60px;
    height: 20px;
  }
  
  .search-input {
    display: flex;
    align-items: center;
    flex: 1;
    width: 100%;
    margin-left: 10px;
  }
  
  .magnifying-glass {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  
  .search-input input[type="search"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 0;
    box-shadow: none;
  }
  
  .search-input button[type="submit"] {
    background-color: #FF0000;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 0;
    box-shadow: none;
    text-align: center;
    width: 100px;
    height: 40px;
  }
  
  .btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
  }
  
  .join-btn, .log-in-btn {
    background-color: transparent; 
    color: #000000;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 0;
    cursor: pointer;
    margin-left: 10px;
    white-space: nowrap;
  }

  .log-in-btn {
    background-color: transparent;
    border-radius: 0;
    color: #000;
  }

  .join-btn {
    border-radius: 0;
    background-color: transparent;
    border: 1px solid #000;
    color: #000;
    margin-right: 20px;
  }

nav {
    width: 600px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: black;
}

#seccion-1 {
    height: 600px;
    background-color: rgba(232, 217, 217, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#seccion-2 {
    background-color: rgba(255, 204, 53, 0.4);
    transform: skew(9deg, 0deg);
    font-style: italic;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .hero-section {
    height: 600px;
    background-color: rgba(232, 217, 217, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .hero-section h1 {
    margin-bottom: 20px;
  }

  .button-container {
    margin-top: 40px;
  }

  .btn-primary {
    color: #fff;
    background-color: #FB3B49;
    padding: 15px 30px;
    border: none;
    border-radius: 0;
    box-shadow: 8px 8px 0 rgba(251, 59, 73, 0.2);
    cursor: pointer;
  }

  .btn-secondary {
    background-color: white;
    border: none;
    padding: 15px 30px;
    border: none;
    border-radius: 0;
    margin-left: 20px;
    cursor: pointer;
  }

  .btn-secondary b {
    font-weight: bold;
  }

  .features-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 160px;
    margin-left: 70px;
  }
  
  .features-container > div {
    margin: 20px;
    width: calc(25% - 40px);
  }
  
  .features-container img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
  }
  
  .features-container h2 {
    margin-top: 0;
    color: #ED1C24;
  }

  .triangle-hexagon {
    width: 300px; 
    height: 250px; 
    background-color: transparent;
    border-radius: 10px;
    padding: 20px; 
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 160px;
    margin: 160px auto;
    text-align: center;
  }
  
  .triangle-hexagon::before {
    content: ""; 
    position: absolute;
    top: 0; 
    left: 0; 
    width: 0; 
    height: 0; 
    border-style: solid; 
    border-width: 0 100px 100px 100px; 
    border-color: transparent transparent #f7f7f7 transparent; 
  }
  
  .triangle-hexagon h1 {
    font-size: 24px; 
    font-weight: bold; 
    margin-bottom: 10px; 
    white-space: nowrap;
    background-color: rgba(255, 204, 53, 0.4);
    transform: skew(-9deg, 0deg);
    font-style: italic; 
  }
  
  .triangle-hexagon p {
    font-size: 16px; 
    margin-bottom: 20px; 
    text-align-last: center; 
  }
  
  .create-org-btn {
    background-color: #000; 
    color: #fff; 
    box-shadow: 8px 8px 0 rgba(128, 83, 35, 0.2); 
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 20px auto; 
    display: block; 
    width: 300px;
  }
  
  .create-org-btn:hover {
    background-color: #333; 
  }